body {
  font: 15px Arial, sans-serif;
  background-color: #d2b48c ;
  color: #141414;

}
.logo {
  height: 100px;
  background-image: url("../images/indielogo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #ffae42;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: #a96d44;
}
